body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
}

main {
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  height: auto;
  row-gap: 80px;
  column-gap: 30px;
  justify-content: center;
}

.gridItems {
  width: 300px;
  height: 250px;
}

.itemOne {
  grid-row: 1 / span 3;
  width: 300px;
  height: 632px;
  outline: none;
  background-color: hsl(235, 46%, 20%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemTwo {
  position: relative;
  background-image: url(/images/icon-work.svg);
  background-color: hsl(15, 100%, 70%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemThree {
  position: relative;
  background-image: url(/images/icon-play.svg);
  background-color: hsl(195, 74%, 62%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.itemFour {
  position: relative;
  background-image: url(/images/icon-study.svg);
  background-color: hsl(348, 100%, 68%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemFive {
  position: relative;
  background-image: url(/images/icon-exercise.svg);
  background-color: hsl(145, 58%, 55%);
  background-repeat: no-repeat;
  background-position: 210px 1px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemSix {
  position: relative;
  background-image: url(/images/icon-social.svg);
  background-color: hsl(264, 64%, 52%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemSeven {
  position: relative;
  background-image: url(/images/icon-self-care.svg);
  background-color: hsl(43, 84%, 65%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profileSection {
  height: 430px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: hsl(246, 80%, 60%);
  margin-bottom: 2.6rem;
}

.informationDiv {
  position: absolute;
  top: 2.9rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: hsl(235, 46%, 20%);
  height: 255px;
  width: 100%;
}

.profileImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  height: 5rem;
  width: 5rem;
  border: 3px solid white;
  border-radius: 50%;
}

.profileName {
  margin-left: 1.5rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 100;
}

.profileTitle {
  margin-left: 1.5rem;
  line-height: 100%;
  margin-top: 2px;
  font-weight: 100;
  font-size: 3rem;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  width: 100px;
}

.options {
  color: hsl(235, 45%, 61%);
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  border: none;
  background: none;
  font-size: 1rem;
  text-align: left;
}

.options:hover {
  cursor: pointer;
}

#weekly.test {
  cursor: pointer;
  color: white;
}

#daily.changeHover {
  cursor: pointer;
  color: white;
}

#monthly.changeHover {
  cursor: pointer;
  color: white;
}

.informationPara {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.elipses {
  height: 0.3rem;
}

.informationTime {
  font-size: 4rem;
  font-weight: 100;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.informationDes {
  margin-left: 2rem;
  margin-top: 0;
  font-weight: 100;
  color: hsl(236, 100%, 87%);
}

.hover.changeBackground {
  background-color: hsl(235, 45%, 61%);
}

.elipses.change {
  background-color: hsl(235, 46%, 20%);
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .gridItems {
    width: 232px;
  }

  .itemTwo {
    background-position: 135px -10px;
  }

  .itemThree {
    background-position: 135px -10px;
  }

  .itemFour {
    background-position: 135px -10px;
  }

  .itemFive {
    background-position: 135px -1px;
  }

  .itemSix {
    background-position: 145px -10px;
  }

  .itemSeven {
    background-position: 145px -10px;
  }

  .informationTime {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  body {
    margin: 10px;
  }
  .container {
    grid-template-columns: repeat(3, auto);
    row-gap: 20px;
  }

  .gridItems {
    width: 200px;
  }
  .itemOne {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    width: 100%;
    height: auto;
  }

  .profileSection {
    height: 150px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }

  .profileTitle {
    margin-bottom: 0;
    font-size: 2rem;
  }

  .profileName {
    margin-top: 0;
  }

  .optionContainer {
    flex-direction: row;

    width: 100%;
    justify-content: center;
    gap: 60px;
    height: 70px;
    align-items: center;
  }

  .options {
    margin: 0;
  }
  .informationDiv {
    height: 205px;
  }

  .itemTwo {
    background-position: 105px -10px;
  }

  .itemThree {
    background-position: 105px -10px;
  }

  .itemFour {
    background-position: 105px -10px;
  }

  .itemFive {
    background-position: 105px -1px;
  }

  .itemSix {
    background-position: 115px -10px;
  }

  .itemSeven {
    background-position: 115px -10px;
  }

  .informationTime {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  body {
    height: auto;
  }
  .main {
    height: auto;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);

    width: 100%;
  }

  .itemOne {
    grid-column: 1 / span 1;
  }

  .profileImage {
    width: 70px;
    height: 70px;
  }

  .profileSection {
    display: flex;
    align-items: center;
  }

  .profileTitle {
    font-size: clamp(1.2rem, -1.2381rem + 12.1905vw, 2rem);
  }

  .informationTime {
    font-size: clamp(0.9rem, -0.9286rem + 9.1429vw, 1.5rem);
  }

  .informationDes {
    font-size: 0.9rem;
  }

  .gridItems {
    grid-column: 1 / span 1;
    width: auto;
  }

  .grid {
    height: 145px;
  }

  .informationDiv {
    height: 100px;
  }

  .mobileDevice {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .informationTime {
    margin-top: 0;
  }

  .informationDes {
    margin-bottom: 0;
    margin-right: 1.8rem;
  }

  .itemTwo {
    background-position: 300px -10px;
  }

  .itemThree {
    background-position: 300px -10px;
  }

  .itemFour {
    background-position: 300px -10px;
  }

  .itemFive {
    background-position: 300px -1px;
  }

  .itemSix {
    background-position: 300px -10px;
  }

  .itemSeven {
    background-position: 300px -10px;
  }
}

@media (max-width: 375px) {
  .itemTwo {
    background-position: 250px -10px;
  }

  .itemThree {
    background-position: 250px -10px;
  }

  .itemFour {
    background-position: 250px -10px;
  }

  .itemFive {
    background-position: 250px -1px;
  }

  .itemSix {
    background-position: 260px -10px;
  }

  .itemSeven {
    background-position: 260px -10px;
  }
}

@media (max-width: 390px) {
  .itemTwo {
    background-position: 270px -10px;
  }

  .itemThree {
    background-position: 270px -10px;
  }

  .itemFour {
    background-position: 270px -10px;
  }

  .itemFive {
    background-position: 270px -1px;
  }

  .itemSix {
    background-position: 270px -10px;
  }

  .itemSeven {
    background-position: 280px -10px;
  }
}
