body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
}

main {
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  width: 100%;
  height: auto;
  row-gap: 80px;
  justify-content: center;
}

.gridItems {
  outline: 2px solid pink;
  width: 300px;
  height: 250px;
}

.itemOne {
  grid-row: 1 / span 3;
  width: 300px;
  height: 632px;
  outline: none;
  background-color: hsl(235, 46%, 20%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemTwo {
  position: relative;
  background-image: url(/images/icon-work.svg);
  background-color: hsl(15, 100%, 70%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemThree {
  position: relative;
  background-image: url(/images/icon-play.svg);
  background-color: hsl(195, 74%, 62%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.itemFour {
  position: relative;
  background-image: url(/images/icon-study.svg);
  background-color: hsl(348, 100%, 68%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemFive {
  position: relative;
  background-image: url(/images/icon-exercise.svg);
  background-color: hsl(145, 58%, 55%);
  background-repeat: no-repeat;
  background-position: 210px 1px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemSix {
  position: relative;
  background-image: url(/images/icon-social.svg);
  background-color: hsl(264, 64%, 52%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemSeven {
  position: relative;
  background-image: url(/images/icon-self-care.svg);
  background-color: hsl(43, 84%, 65%);
  background-repeat: no-repeat;
  background-position: 210px -10px;
  outline: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profileSection {
  height: 430px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: hsl(246, 80%, 60%);
  margin-bottom: 2.6rem;
}

.informationDiv {
  position: absolute;
  top: 2.9rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: hsl(235, 46%, 20%);
  height: 255px;
  width: 100%;
}

.profileImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  height: 5rem;
  width: 5rem;
  border: 3px solid white;
  border-radius: 50%;
}

.profileName {
  margin-left: 1.5rem;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 100;
}

.profileTitle {
  margin-left: 1.5rem;
  line-height: 100%;
  margin-top: 2px;
  font-weight: 100;
  font-size: 3rem;
}

.options {
  color: hsl(235, 45%, 61%);
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.options:hover {
  cursor: pointer;
  color: white;
}

.informationPara {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.elipses {
  height: 0.3rem;
}

.informationTime {
  font-size: 4rem;
  font-weight: 100;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.informationDes {
  margin-left: 2rem;
  margin-top: 0;
  font-weight: 100;
  color: hsl(236, 100%, 87%);
}

.hover.changeBackground {
  background-color: hsl(235, 45%, 61%);
}

.elipses.change {
  background-color: hsl(235, 46%, 20%);
}
